
$color-home : #FAFAFA;
$color-right : #ffffff;
$color-btn : #0074A0;


@import "src/components/Group/Group";
@import "src/components/Student/Student";
@import "src/components/Teacher/Teacher";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.horizontal-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#home-container {
  padding: 10px 10px 0 10px;

  .navbars {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 70px;
    box-shadow: 0 4px 4px 0 #00000040 inset;
    background-color: #D9D9D9;

    //.navbar-logo {
    //
    //}

    .navbar-search {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  }

  .home-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid red;

    .home-body-left {
      width: 20%;
      height: calc(100vh - 84px);
      border: 1px solid green;

      .left-item {
        border: 1px solid #000000;
        background: #00000080;
        width: 95%;
        height: 40px;
        display: flex;
        align-items: center;
        margin: 5px auto;
      }

      .left-item-active {
        background: #4d76ff;
        border: 1px solid #000000;
        width: 95%;
        height: 40px;
        display: flex;
        align-items: center;
        margin: 5px auto;
      }

    }

    .home-body-right {
      width: 80%;
      height: calc(100vh - 84px);
      border: 1px solid #000dff;
    }


    .home-body-right-teacher {
      width: 80%;
      height: calc(100vh - 84px);
      border: 1px solid yellow;
      //overflow: hidden;
      .row {
        height: 100%;
        margin: 0;
        overflow: auto;
        background-color: #cbf6cb;

        .col-4 {
          width: 30%;
          height: 165px;
          border-radius: 25px;
          border: 1px solid #000000;
          text-align: center;
          padding: 0;
          margin: 50px auto;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          .teacher-img {
            background-color: #555555;
            width: 70px;
            height: 70px;
            position: absolute;
            top: -35px;
            left: calc(50% - 35px);
            border-radius: 50%;

          }

          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }


    .home-body-right-student {
      width: 80%;
      height: calc(100vh - 84px);
      border: 1px solid yellow;
      //overflow: hidden;
      .row {
        height: 100%;
        margin: 0;
        overflow: auto;
        background-color: #cbf6cb;

        .col-4 {
          width: 30%;
          height: 165px;
          border-radius: 25px;
          border: 1px solid #000000;
          text-align: center;
          padding: 0;
          margin: 50px auto;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          .student-img {
            background-color: #555555;
            width: 70px;
            height: 70px;
            position: absolute;
            top: -35px;
            left: calc(50% - 35px);
            border-radius: 50%;

          }

          img {
            width: 50px;
            height: 50px;
          }
        }
      }
    }

    .home-body-right-subject {
      width: 80%;
      height: calc(100vh - 84px);
      border: 1px solid #000dff;
      overflow: auto;
      //border: 1px solid #eca949;
      //.subject-header{
      //  display: flex;
      //  align-items: center;
      //  justify-content: space-between;
      //  //border: 1px solid green;
      //
      //}
      .subject-body {
        table {
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 0 8px;
        }

        th:last-child, td:last-child {
          text-align: end;
        }


        tr:nth-child(2n) {
          background-color: #dddddd;
        }
      }

      .subject-footer {

      }
    }


    .home-body-right-group {
      width: 80%;
      height: calc(100vh - 84px);
      border: 1px solid #000dff;
      overflow: auto;
      background: #cbf6cb;

      .row {
        //height: 100%;
        width: 100%;
        gap: 20px;
        //flex-wrap: nowrap;
        margin: 0;
        padding: 0 20px;

        .col-6 {
          width: 49%;
          padding: 12px;

          .add-group-logo {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid red;

            h1 {
            }
          }
        }

        .col-6 {
          width: 49%;
          margin: 0 auto;
          background: #F2F8FA;

          .group-name-edit {
            .group-name {

            }

            button {

            }
          }

          table {
            border-collapse: collapse;
            width: 100%;
          }

          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }

          //th:last-child, td:last-child {
          //  text-align: end;
          //}

        }
      }


    }


  }
}




